footer .inner {
  border-top: 1px solid #eee;
}
.copy {
  color: #979696;
  font-style: italic;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}
.tool {
  background: white;
}
